/**
 * @Author: ZEESHAN AHMAD
 * @Date:   2021-10-25 07:41:34
 * @Last Modified by:   ZEESHAN AHMAD
 * @Last Modified time: 2021-10-25 08:19:36
 */
body {
  background-color: rgb(82, 145, 113);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
